.box-contato {
    width: 324px;
    position: absolute;
    top: 90px;
    right: 15%;

    #contato {
        display: none;
        margin-top: -38px;
    }

    .contato {
        background-color: #e5ac26;
        border-radius: 14px;
        padding-top: 40px;
        padding-bottom: 20px;

        .form-group {
            margin-bottom: 10px;
        }

        .form-control {
            font-family: 'Montserrat', sans-serif;
            font-weight: 500;
            height: 13px;
            padding: 15px 12px;
            font-size: 13px;
            line-height: 1.42857143;
            color: #595959;
            background-color: #c2c2c2;
            border: 0px solid transparent;
            border-radius: 20px;
            box-shadow: none;

            &::-webkit-input-placeholder {
                color: #595959;
            }

            &:-ms-input-placeholder {
                color: #595959;
            }

            &::placeholder {
                color: #595959;
            }
        }

        textarea {
            height: 60px !important;
        }

        .checkbox {
            font-family: 'Montserrat', sans-serif;
            font-weight: 500;
            font-style: normal;
            font-size: 13px;
            color: #595959;
            padding-left: 10px;
        }
    }

    .btn_enviar {
        background: url(../images/btn-contato.png) no-repeat;
        background-position: center center;
        background-size: cover;
        width: 110px;
        height: 30px;
        padding: 6px 15px;
        border: 0px solid transparent;
        border-radius: 0px;
        float: right;
        margin: -16px 0 0 0;
    }
}

.btn-contato {
    display: inline-block;
    width: 100%;
    z-index: 100;
    position: relative;

    a {
        background-color: #e5ac26;
        float: right;
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 13px;
        line-height: 13px;
        color: #000000;
        text-transform: uppercase;
        padding: 10px 19px;
        border-radius: 14px;
        position: relative;

        &:hover,
        &:active,
        &:focus {
            text-decoration: none;
        }

        img {
            position: absolute;
            bottom: -7px;
            right: 21px;
        }
    }
}

/* Extra Small */
@media(max-width:767px) {
    .box-contato {
        width: 100%;
        position: relative;
        top: 0px;
        right: 0;
        margin-top: 30px;
        margin-bottom: 30px;

        #contato {
            display: block;
            margin-top: -55px;
        }

        .contato {
            background-color: rgba(252, 250, 247, 0.8);
            border-radius: 14px;
            padding-top: 50px;

            .form-control {
                font-size: 15px;
                height: 40px;
                padding: 20px 12px;
            }

            textarea {
                height: 80px !important;
            }

            .checkbox {
                font-size: 15px;
            }
        }

        .btn_enviar {
            background-size: 100%;
            width: 150px;
            height: 45px;
        }
    }

    .btn-contato {
        a {
            background-color: transparent;
            padding: 20px 19px 15px;
            font-size: 15px;
            line-height: 15px;
            width: 100%;
            text-align: center;

            img {
                display: none;
            }
        }
    }
}

/* Small */
@media(min-width:768px) and (max-width:991px) {}

/* Medium */
@media(min-width:992px) and (max-width:1199px) {}

/* Large */
@media(min-width:1200px) {}