.contato {
  background-color: rgba(252, 250, 247, 0.8);
  border-radius: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 85%;
}

.contato h5 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
  margin: 0 0 5px 0;
}

.contato .form-group {
  margin-bottom: 10px;
}

.contato .form-control {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  height: 40px;
  padding: 10px 12px;
  font-size: 16px;
  line-height: 1.42857143;
  color: #595959;
  background-color: #c2c2c2;
  border: 0px solid transparent;
  border-radius: 20px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.contato .form-control::-webkit-input-placeholder {
  color: #595959;
}

.contato .form-control:-ms-input-placeholder {
  color: #595959;
}

.contato .form-control::-ms-input-placeholder {
  color: #595959;
}

.contato .form-control::placeholder {
  color: #595959;
}

.contato textarea {
  height: 60px !important;
}

.contato .checkbox {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  color: #595959;
  padding-left: 20px;
}

.btn_enviar {
  background: url(../images/btn-contato.png) no-repeat;
  background-position: center center;
  background-size: cover;
  width: 150px;
  height: 40px;
  padding: 6px 15px;
  border: 0px solid transparent;
  border-radius: 0px;
  float: right;
  margin: -23px 0 0 0;
}

.crystal-lagoons {
  background-color: #d5d5d5;
  padding-top: 30px;
  padding-bottom: 30px;
}

.crystal-lagoons p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #444444;
  text-transform: uppercase;
}

.crystal-lagoons p span {
  font-weight: 700;
}

.crystal-lagoons .txt1 {
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 10px;
}

.crystal-lagoons .txt2 {
  font-size: 15px;
  line-height: 21px;
  color: #4ea7bc;
  margin-top: 15px;
  letter-spacing: 1px;
}

.crystal-lagoons .img-crystal-lagoons {
  margin-bottom: -24px;
  z-index: 100;
  position: relative;
}

.afrincorp {
  padding-top: 50px;
  padding-bottom: 50px;
}

.afrincorp img {
  margin-bottom: 20px;
}

.afrincorp p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #000000;
  font-size: 17px;
  line-height: 24px;
}

.afrincorp p span {
  font-weight: 700;
}

.endereco {
  background: url(../images/bg-endereco.jpg) no-repeat;
  background-position: center bottom;
  background-size: cover;
  padding-top: 40px;
}

.endereco p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #444444;
  font-size: 17px;
  line-height: 24px;
  text-transform: uppercase;
}

.endereco p span {
  font-weight: 700;
}

.endereco .box {
  border: 2px solid #444444;
  display: table;
  padding: 10px 25px;
  margin: 0 auto;
}

.endereco .txt1 {
  margin-bottom: 20px;
}

.endereco .txt3 {
  margin-top: 20px;
}

.endereco img {
  margin-top: 10px;
}

/* Extra Small */
@media (max-width: 767px) {
  .contato {
    background-color: rgba(252, 250, 247, 0.8);
    margin-top: 85%;
  }
  .contato h5 {
    font-size: 16px;
    line-height: 16px;
  }
  .crystal-lagoons {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .crystal-lagoons .txt1 {
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 10px;
  }
  .crystal-lagoons .txt2 {
    font-size: 13px;
    line-height: 18px;
    margin-top: 15px;
  }
  .crystal-lagoons .img-crystal-lagoons {
    margin-bottom: -15px;
    max-width: 70%;
  }
  .afrincorp {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .afrincorp img {
    margin-bottom: 20px;
  }
  .afrincorp p {
    font-size: 15px;
    line-height: 20px;
    text-align: left;
  }
  .endereco {
    background: url(../images/bg-endereco-mobile.jpg) no-repeat;
    background-position: center bottom;
    background-size: cover;
    padding-top: 30px;
  }
  .endereco p {
    font-size: 14px;
    line-height: 24px;
  }
  .endereco img {
    max-width: 80%;
    margin-top: 10px;
  }
}

/* Small */
/* Medium */
/* Large */
/*# sourceMappingURL=home.css.map */