.projecto {
    background: url(../images/bg-projecto.jpg) no-repeat;
    background-size: cover;
    background-position: center bottom;
    padding-top: 40px;
    padding-bottom: 60px;

    .tt-1 {
        p {
            font-family: 'Montserrat', sans-serif;
            font-weight: 400;
            font-size: 25px;
            line-height: 33px;
            color: #000000;
            text-transform: uppercase;

            span {
                font-weight: 700;
            }
        }
    }

    .tt-2 {
        background-color: rgba(0, 0, 0, 0.6);
        padding-top: 10px;
        padding-bottom: 10px;

        p {
            font-family: 'Montserrat', sans-serif;
            font-weight: 400;
            font-size: 15px;
            line-height: 23px;
            color: #ffffff;
            text-transform: uppercase;

            span {
                font-weight: 700;
            }
        }
    }
}


/* Extra Small */
@media(max-width:767px) {
    .projecto {
        background: url(../images/bg-projecto-mobile.jpg) no-repeat;
        background-size: cover;
        background-position: center top;
        padding-top: 30px;
        padding-bottom: 40px;

        .tt-1 {
            p {
                font-size: 16px;
                line-height: 26px;
            }
        }

        .tt-2 {
            padding-top: 10px;
            padding-bottom: 10px;

            p {
                font-size: 12px;
                line-height: 18px;
            }
        }
    }
}

/* Small */
@media(min-width:768px) and (max-width:991px) {}

/* Medium */
@media(min-width:992px) and (max-width:1199px) {}

/* Large */
@media(min-width:1200px) {}