.slick-prev,
.slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
    color: transparent;
    outline: none;
    background: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
    opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
    opacity: 0.25;
}

.slick-prev:before,
.slick-next:before {
    font-family: "slick";
    font-size: 20px;
    line-height: 1;
    opacity: 0.75;
    color: white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.glr-home .slick-prev,
.glr-home .slick-prev:hover,
.glr-home .slick-prev:focus {
    width: 49px;
    height: 80px;
    top: 50%;
    left: 5%;
    background: url(../images/seta-left.png) no-repeat;
    background-position: center center;
    background-size: 100%;
    border: 0px solid none;
    z-index: 5;
}
.glr-home .slick-next,
.glr-home.slick-next:hover,
.glr-home .slick-next:focus {
    width: 49px;
    height: 80px;
    top: 50%;
    right: 5%;
    background: url(../images/seta-right.png) no-repeat;
    background-position: center center;
    background-size: 100%;
    border: 0px solid none;
    z-index: 5;
}

.glr-produto .slick-prev,
.glr-produto .slick-prev:hover,
.glr-produto .slick-prev:focus {
    width: 30px;
    height: 50px;
    top: 50%;
    left: -6%;
    background: url(../images/seta-left-2.png) no-repeat;
    background-position: center center;
    background-size: 100%;
    border: 0px solid none;
    z-index: 5;
}
.glr-produto .slick-next,
.glr-produto.slick-next:hover,
.glr-produto .slick-next:focus {
    width: 30px;
    height: 50px;
    top: 50%;
    right: -6%;
    background: url(../images/seta-right-2.png) no-repeat;
    background-position: center center;
    background-size: 100%;
    border: 0px solid none;
    z-index: 5;
}

/* Dots */
.slick-dots {
    position: absolute;
    bottom: 2%;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}
.slick-dots li {
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}
.slick-dots li button {
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus {
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
    opacity: 1;
}
.slick-dots li button:before {
    font-family: "slick";
    font-size: 6px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    opacity: 1;
    content: "";
    color: #fff;
    background-color: #fff;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
}
.slick-dots li.slick-active button:before {
    color: black;
    opacity: 1;
    background-color: #f5a638;
}

/* Extra Small */

@media (max-width: 767px) {
    .glr-home .slick-prev,
    .glr-home .slick-prev:hover,
    .glr-home .slick-prev:focus {
        width: 15px;
        height: 30px;
        left: 5%;
    }
    .glr-home .slick-next,
    .glr-home.slick-next:hover,
    .glr-home .slick-next:focus {
        width: 15px;
        height: 30px;
        right: 5%;
    }

    .glr-produto .slick-prev,
    .glr-produto .slick-prev:hover,
    .glr-produto .slick-prev:focus {
        width: 15px;
        height: 30px;
        left: 5%;
    }

    .glr-produto .slick-next,
    .glr-produto.slick-next:hover,
    .glr-produto .slick-next:focus {
        width: 15px;
        height: 30px;
        right: 5%;
    }
}

@media (max-width: 767px) {
    .slick-dots {
        display: none !important;
    }
}
/* Small */
@media (min-width: 768px) and (max-width: 991px) {
    .glr-home .slick-prev,
    .glr-home .slick-prev:hover,
    .glr-home .slick-prev:focus {
        width: 15px;
        height: 30px;
        left: 5%;
    }
    .glr-home .slick-next,
    .glr-home.slick-next:hover,
    .glr-home .slick-next:focus {
        width: 15px;
        height: 30px;
        right: 5%;
    }

    .glr-produto .slick-prev,
    .glr-produto .slick-prev:hover,
    .glr-produto .slick-prev:focus {
        width: 15px;
        height: 30px;
        left: 5%;
    }

    .glr-produto .slick-next,
    .glr-produto.slick-next:hover,
    .glr-produto .slick-next:focus {
        width: 15px;
        height: 30px;
        right: 5%;
    }
}
