@charset "UTF-8";
.margin-top {
  margin-top: 10px;
}

.margin-top-5 {
  margin-top: 5px;
}

.margin-top-15 {
  margin-top: 15px;
}

.margin-top-20 {
  margin-top: 20px;
}

.margin-top-27 {
  margin-top: 27px;
}

.margin-top-30 {
  margin-top: 30px;
}

.margin-top-40 {
  margin-top: 40px;
}

.margin-top-50 {
  margin-top: 50px;
}

.margin-top-54 {
  margin-top: 54px;
}

.margin-top-60 {
  margin-top: 60px;
}

.margin-top-65 {
  margin-top: 65px;
}

.margin-top-70 {
  margin-top: 70px;
}

.margin-top-80 {
  margin-top: 80px;
}

.margin-top-90 {
  margin-top: 90px;
}

.margin-top-99 {
  margin-top: 99px;
}

.margin-top-100 {
  margin-top: 100px;
}

.margin-top-110 {
  margin-top: 110px;
}

.margin-top-120 {
  margin-top: 120px;
}

.margin-top-140 {
  margin-top: 140px;
}

.margin-top-149 {
  margin-top: 149px;
}

.margin-top-150 {
  margin-top: 150px;
}

.margin-top-160 {
  margin-top: 160px;
}

.margin-top-200 {
  margin-top: 200px;
}

.margin-top-220 {
  margin-top: 220px;
}

.margin-top-230 {
  margin-top: 230px;
}

.margin-top-250 {
  margin-top: 250px;
}

.margin-top-330 {
  margin-top: 330px;
}

.margin-top-350 {
  margin-top: 350px;
}

.margin-top-380 {
  margin-top: 380px;
}

.margin-top-385 {
  margin-top: 385px;
}

.margin-top-390 {
  margin-top: 390px;
}

.margin-top-400 {
  margin-top: 400px;
}

.padding-off {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

p {
  margin: 0;
}

.container-off-padding {
  padding-left: 0px;
  padding-right: 0px;
}

.row-off-margin {
  margin-left: 0px;
  margin-right: 0px;
}

.aviso {
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99999;
}

.aviso div {
  display: table;
  margin: 10% auto 0;
  width: 40%;
  background-color: #e5ac26;
  padding: 20px 10px;
  position: relative;
  border-radius: 20px;
}

.aviso div .close {
  text-shadow: none;
  opacity: 1;
  position: absolute;
  right: 0;
  top: -35px;
  z-index: 999;
  color: #fff;
  font-size: 35px;
  line-height: 35px;
}

.aviso div p {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 13px;
  line-height: 1.667;
  color: #ffffff;
  text-transform: uppercase;
}

.float-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  right: 0;
  z-index: 999;
  bottom: 40%;
}

.float-box a {
  width: 60px;
  overflow: hidden;
  color: rgba(255, 255, 255, 0);
  -webkit-transition: width 400ms, color 800ms;
  transition: width 400ms, color 800ms;
  height: 55px;
  line-height: 27px;
  display: block;
  margin-bottom: 1px;
  padding: 17px 15px;
  text-transform: uppercase;
  font-family: 'Proxima Nova Rg';
  font-weight: normal;
  font-style: normal;
  font-size: 12px;
  letter-spacing: 2px;
  cursor: pointer;
  text-decoration: none;
}

.float-box a:hover {
  width: 220px;
  color: white;
}

.float-box .mail {
  background: url(../images/icone-mail.png) no-repeat right 14px center;
  background-color: rgba(0, 0, 0, 0);
  background-color: #f5a638;
}

.float-box .whats {
  background: url(../images/icone-zap.png) no-repeat right 5px center;
  background-color: rgba(0, 0, 0, 0);
  background-color: #f5a638;
}

.cookies {
  position: fixed;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 9999;
  height: 100%;
  top: 0;
  display: none;
}

.cookies .box {
  background-color: #e5ac26;
  padding-top: 20px;
  padding-bottom: 20px;
  position: absolute;
  bottom: 20px;
  border-radius: 20px;
}

.cookies .box p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #fff;
  font-size: 11px;
  line-height: 14px;
  margin-top: 5px;
}

.cookies .box p a {
  text-decoration: underline;
  color: #fff;
}

.cookies .box .btn_cookie {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 16px;
  line-height: 16px;
  color: #ffffff;
  border: 0px solid transparent;
  border-radius: 50px;
  padding: 12px 30px;
  width: 160px;
  margin-top: 5px;
  -webkit-box-shadow: none;
          box-shadow: none;
  background: #f14e4e;
}

/* Extra Small */
@media (max-width: 767px) {
  .aviso div {
    margin: 30% auto 0;
    width: 95%;
  }
  .padding-off-mobile {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .float-box {
    bottom: 30%;
  }
  .cookies .box {
    padding-top: 10px;
  }
  .cookies .box .btn_cookie {
    margin-top: 20px;
  }
}

.menu {
  position: fixed;
  width: 100%;
  float: left;
  top: 0;
  left: 0;
  z-index: 600;
  background-color: transparent;
  border-color: transparent;
  border-radius: 0px;
  min-height: auto;
  margin-bottom: 0px;
  padding-top: 30px;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.menu .navbar-collapse,
.menu .navbar-form {
  border-color: transparent;
}

.menu .nav > li > a {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 12px;
  padding: 5px 12px;
  border-radius: 0px;
}

.menu .nav > li > a::before {
  content: '•';
  position: absolute;
  right: -6px;
  color: #f14e4e;
  font-size: 28px;
  line-height: 8px;
}

.menu .link-endereco::before {
  content: "" !important;
}

.menu .navbar-brand {
  float: left;
  height: auto;
  padding: 0;
  margin-left: 0px;
}

.menu .navbar-brand img {
  position: absolute;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.menu .navbar-nav > li > a:focus,
.menu .navbar-nav > li > a:hover {
  color: #000000;
  background-color: transparent;
  text-decoration: underline;
  -webkit-text-decoration-color: #f14e4e;
          text-decoration-color: #f14e4e;
}

.menu .navbar-nav > li > a.active {
  color: #000000;
  background-color: transparent;
  text-decoration: underline;
  -webkit-text-decoration-color: #f14e4e;
          text-decoration-color: #f14e4e;
}

.redes {
  display: inline-block;
  width: 100%;
  margin-right: 10px;
}

.redes a {
  float: right;
}

.redes .youtube {
  width: 30px;
  height: 27px;
  background: url(../images/youtube.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
}

.redes .instagram {
  width: 28px;
  height: 27px;
  background: url(../images/instagram.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
}

.redes .facebook {
  width: 27px;
  height: 27px;
  background: url(../images/facebook.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
  margin-left: 8px;
  margin-right: 8px;
}

/* Extra Small */
@media (max-width: 767px) {
  .menu {
    background: transparent;
    padding-top: 0px;
    height: 57px;
  }
  .menu .navbar-brand {
    margin-left: 5px;
  }
  .menu .navbar-brand img {
    width: 52%;
    padding-top: 10px;
  }
  .menu .nav > li {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .menu .nav > li > a {
    font-size: 12px;
    line-height: 12px;
    padding-left: 10px;
    color: #000000;
    margin-bottom: 0px;
    background-color: transparent;
    border-radius: 0;
  }
  .menu .nav > li > a::before {
    content: '';
    font-size: 30px;
    line-height: 9px;
  }
  .menu #navbar {
    background: rgba(255, 255, 255, 0.8);
    margin-top: 50px;
  }
  .menu .redes {
    display: none;
  }
  .menu .navbar-nav {
    margin: 0px -15px;
  }
  .menu .navbar-toggle {
    margin-top: 11px;
    margin-right: 5px;
    border-color: #000000;
    margin-bottom: 0;
  }
  .menu .navbar-collapse {
    border-top: 0px solid transparent;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .menu .navbar-toggle .icon-bar {
    background-color: #000000;
  }
  .menu .navbar-toggle:focus,
  .menu .navbar-toggle:hover {
    background-color: transparent;
  }
  .menu .navbar-collapse,
  .menu .navbar-form {
    border-color: transparent;
  }
}

/* Small */
@media (min-width: 768px) and (max-width: 991px) {
  .menu.active,
  .menu.active2 {
    padding-top: 7px;
  }
  .menu.active .navbar-brand img,
  .menu.active2 .navbar-brand img {
    width: 30%;
  }
  .menu {
    padding-top: 15px;
  }
  .menu .navbar-brand img {
    width: 30%;
  }
}

/* Medium */
@media (min-width: 992px) and (max-width: 1199px) {
  .menu.active,
  .menu.active2 {
    padding-top: 7px;
  }
  .menu.active .navbar-brand img,
  .menu.active2 .navbar-brand img {
    width: 25%;
  }
}

/* Large */
@media (min-width: 1200px) {
  .menu.active,
  .menu.active2 {
    padding-top: 7px;
  }
  .menu.active .nav > li,
  .menu.active2 .nav > li {
    margin-top: 0px;
    margin-bottom: 3px;
  }
  .menu.active .nav > li > a,
  .menu.active2 .nav > li > a {
    font-size: 10px;
    line-height: 10px;
  }
  .menu.active .nav > li > a::before,
  .menu.active2 .nav > li > a::before {
    line-height: 4px;
  }
  .menu.active .navbar-brand img,
  .menu.active2 .navbar-brand img {
    width: 25%;
  }
}

.crystal-lagoons {
  background-color: #d5d5d5;
  padding-top: 30px;
  padding-bottom: 30px;
}

.crystal-lagoons p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #444444;
  text-transform: uppercase;
}

.crystal-lagoons p span {
  font-weight: 700;
}

.crystal-lagoons .txt1 {
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 10px;
}

.crystal-lagoons .txt2 {
  font-size: 15px;
  line-height: 21px;
  color: #4ea7bc;
  margin-top: 15px;
  letter-spacing: 1px;
}

.crystal-lagoons .img-crystal-lagoons {
  margin-bottom: -24px;
  z-index: 100;
  position: relative;
}

.afrincorp {
  padding-top: 50px;
  padding-bottom: 50px;
}

.afrincorp img {
  margin-bottom: 20px;
}

.afrincorp p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #000000;
  font-size: 17px;
  line-height: 24px;
}

.afrincorp p span {
  font-weight: 700;
}

.endereco {
  background: url(../images/bg-endereco.jpg) no-repeat;
  background-position: center bottom;
  background-size: cover;
  padding-top: 40px;
}

.endereco p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #444444;
  font-size: 17px;
  line-height: 24px;
  text-transform: uppercase;
}

.endereco p span {
  font-weight: 700;
}

.endereco .box {
  border: 2px solid #444444;
  display: table;
  padding: 10px 25px;
  margin: 0 auto;
}

.endereco .txt1 {
  margin-bottom: 20px;
}

.endereco .txt3 {
  margin-top: 20px;
}

.endereco img {
  margin-top: 10px;
}

/* Extra Small */
@media (max-width: 767px) {
  .crystal-lagoons {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .crystal-lagoons .txt1 {
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 10px;
  }
  .crystal-lagoons .txt2 {
    font-size: 13px;
    line-height: 18px;
    margin-top: 15px;
  }
  .crystal-lagoons .img-crystal-lagoons {
    margin-bottom: -15px;
    max-width: 70%;
  }
  .afrincorp {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .afrincorp img {
    margin-bottom: 20px;
  }
  .afrincorp p {
    font-size: 15px;
    line-height: 20px;
    text-align: left;
  }
  .endereco {
    background: url(../images/bg-endereco-mobile.jpg) no-repeat;
    background-position: center bottom;
    background-size: cover;
    padding-top: 30px;
  }
  .endereco p {
    font-size: 14px;
    line-height: 24px;
  }
  .endereco img {
    max-width: 80%;
    margin-top: 10px;
  }
}

/* Small */
/* Medium */
/* Large */
.produto {
  background: url(../images/bg-produto.jpg) no-repeat;
  background-size: cover;
  background-position: center bottom;
  padding-top: 60px;
  padding-bottom: 0px;
  margin-top: -0.4%;
}

.produto .tt-1 p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 25px;
  line-height: 33px;
  color: #000000;
  text-transform: uppercase;
}

.produto .tt-1 p span {
  font-weight: 700;
}

.produto .tt-2 .box {
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #bfe5ef;
  padding-top: 15px;
  padding-bottom: 15px;
}

.produto .tt-2 .box p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #000000;
  text-transform: uppercase;
  padding-top: 5px;
  padding-bottom: 5px;
}

.produto .tt-2 .box p span {
  font-weight: 700;
}

.galeria-homem {
  padding-top: 40px;
  background-color: #d5d5d5;
  margin-top: -5px;
}

.galeria-homem p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #444444;
  text-transform: uppercase;
}

.galeria-homem p span {
  font-weight: 700;
}

.galeria-homem .galeria {
  margin-top: 30px;
}

.galeria-homem .txt1 {
  font-size: 22px;
  line-height: 32px;
  margin-bottom: 10px;
}

.galeria-homem .txt2 {
  margin-top: 15px;
  font-size: 12px;
  line-height: 20px;
}

.galeria-homem .homem-galeria {
  position: absolute;
  right: 0;
  top: 0;
}

.galeria-homem .box-lotes {
  background: url(../images/bg-lotes.jpg) no-repeat;
  background-size: cover;
  background-position: center bottom;
  padding-bottom: 150px;
}

.galeria-homem .box-lotes .lotes {
  background-color: #ffffff;
  padding-top: 30px;
  padding-bottom: 40px;
  margin-top: 20px;
}

.galeria-homem .box-lotes .lotes img {
  margin-top: 20px;
}

.galeria-mulher {
  padding-top: 40px;
  background-color: #bfe5ef;
}

.galeria-mulher p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #444444;
  text-transform: uppercase;
}

.galeria-mulher p span {
  font-weight: 700;
}

.galeria-mulher .galeria {
  margin-top: 30px;
}

.galeria-mulher .txt1 {
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 10px;
}

.galeria-mulher .txt2 {
  margin-top: 15px;
  font-size: 17px;
  line-height: 27px;
}

.galeria-mulher .mulher-galeria {
  position: absolute;
  right: 0;
  top: 0;
}

.galeria-mulher .box-lotes {
  background: url(../images/bg-lotes2.jpg) no-repeat;
  background-size: cover;
  background-position: center bottom;
  padding-bottom: 110px;
}

.galeria-mulher .box-lotes .lotes {
  background-color: #ffffff;
  padding-top: 30px;
  padding-bottom: 40px;
  margin-top: 20px;
}

.galeria-mulher .box-lotes .lotes .txt2 {
  margin-top: 15px;
  font-size: 12px;
  line-height: 20px;
}

.galeria-mulher .box-lotes .lotes img {
  margin-top: 20px;
}

.galeria-mulher .box-lotes .cta {
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #f5a638;
  padding: 7px 17px;
  border-radius: 17px;
  margin-top: 40px;
}

.galeria-mulher .box-lotes .cta span {
  text-decoration: underline;
}

/* Extra Small */
@media (max-width: 767px) {
  .produto {
    background: url(../images/bg-produto-mobile.jpg) no-repeat;
    background-size: cover;
    background-position: center bottom;
    padding-top: 30px;
    margin-top: -1.5%;
  }
  .produto .tt-1 p {
    font-size: 11px;
    line-height: 21px;
  }
  .produto .tt-2 {
    margin-top: 50%;
  }
  .produto .tt-2 .box {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .produto .tt-2 .box p {
    font-size: 11px;
    line-height: 16px;
  }
  .galeria-homem {
    padding-top: 20px;
  }
  .galeria-homem .galeria {
    margin-top: 10px;
  }
  .galeria-homem .txt1 {
    font-size: 17px;
    line-height: 27px;
  }
  .galeria-homem .txt2 {
    margin-top: 15px;
    font-size: 12px;
    line-height: 18px;
    padding-bottom: 20px;
  }
  .galeria-homem .box-lotes {
    padding-bottom: 0px;
    background: none;
  }
  .galeria-homem .box-lotes .lotes {
    background-color: #ffffff;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 0px;
  }
  .galeria-mulher {
    padding-top: 20px;
    padding-bottom: 30px;
  }
  .galeria-mulher .galeria {
    margin-top: 10px;
  }
  .galeria-mulher .txt1 {
    font-size: 17px;
    line-height: 27px;
  }
  .galeria-mulher .txt2 {
    margin-top: 15px;
    font-size: 15px;
    line-height: 25px;
    padding-bottom: 20px;
  }
  .galeria-mulher .box-lotes {
    padding-bottom: 0px;
    background: none;
  }
  .galeria-mulher .box-lotes .lotes {
    background-color: #ffffff;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 0px;
  }
  .galeria-mulher .box-lotes .cta {
    margin-top: 30px;
  }
}

/* Small */
/* Medium */
@media (min-width: 992px) and (max-width: 1199px) {
  .galeria-homem .box-lotes .lotes {
    margin-top: 10px;
  }
  .galeria-mulher .box-lotes .lotes {
    margin-top: 10px;
  }
}

/* Large */
footer {
  background-color: #f5a638;
  padding-bottom: 13px;
  padding-top: 13px;
  border-bottom: solid 15px #f14e4e;
}

footer img,
footer p {
  display: inline-table !important;
}

footer p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color: #f14e4e;
  font-size: 13px;
  line-height: 13px;
}

footer .navbar-nav {
  margin: 0 auto;
  display: table;
  float: none;
}

footer .navbar-nav li {
  padding-top: 7px;
  padding-bottom: 7px;
}

footer .navbar-nav li > a {
  padding-top: 0px;
  padding-bottom: 0px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #f14e4e;
  font-size: 13px;
  line-height: 13px;
  border-right: 1px solid #f14e4e;
  text-align: center;
}

footer .navbar-nav li > a:focus,
footer .navbar-nav li > a:hover {
  text-decoration: underline;
  background-color: transparent;
}

footer .navbar-nav li:last-child a {
  border-right: 0px solid transparent;
}

/* Extra Small */
@media (max-width: 767px) {
  footer .navbar-nav li > a {
    border-right: 0px solid transparent;
  }
}

/* Small */
/* Medium */
/* Large */
.box-contato {
  width: 324px;
  position: absolute;
  top: 90px;
  right: 15%;
}

.box-contato #contato {
  display: none;
  margin-top: -38px;
}

.box-contato .contato {
  background-color: #e5ac26;
  border-radius: 14px;
  padding-top: 40px;
  padding-bottom: 20px;
}

.box-contato .contato .form-group {
  margin-bottom: 10px;
}

.box-contato .contato .form-control {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  height: 13px;
  padding: 15px 12px;
  font-size: 13px;
  line-height: 1.42857143;
  color: #595959;
  background-color: #c2c2c2;
  border: 0px solid transparent;
  border-radius: 20px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.box-contato .contato .form-control::-webkit-input-placeholder {
  color: #595959;
}

.box-contato .contato .form-control:-ms-input-placeholder {
  color: #595959;
}

.box-contato .contato .form-control::-ms-input-placeholder {
  color: #595959;
}

.box-contato .contato .form-control::placeholder {
  color: #595959;
}

.box-contato .contato textarea {
  height: 60px !important;
}

.box-contato .contato .checkbox {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 13px;
  color: #595959;
  padding-left: 10px;
}

.box-contato .btn_enviar {
  background: url(../images/btn-contato.png) no-repeat;
  background-position: center center;
  background-size: cover;
  width: 110px;
  height: 30px;
  padding: 6px 15px;
  border: 0px solid transparent;
  border-radius: 0px;
  float: right;
  margin: -16px 0 0 0;
}

.btn-contato {
  display: inline-block;
  width: 100%;
  z-index: 100;
  position: relative;
}

.btn-contato a {
  background-color: #e5ac26;
  float: right;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 13px;
  line-height: 13px;
  color: #000000;
  text-transform: uppercase;
  padding: 10px 19px;
  border-radius: 14px;
  position: relative;
}

.btn-contato a:hover, .btn-contato a:active, .btn-contato a:focus {
  text-decoration: none;
}

.btn-contato a img {
  position: absolute;
  bottom: -7px;
  right: 21px;
}

/* Extra Small */
@media (max-width: 767px) {
  .box-contato {
    width: 100%;
    position: relative;
    top: 0px;
    right: 0;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .box-contato #contato {
    display: block;
    margin-top: -55px;
  }
  .box-contato .contato {
    background-color: rgba(252, 250, 247, 0.8);
    border-radius: 14px;
    padding-top: 50px;
  }
  .box-contato .contato .form-control {
    font-size: 15px;
    height: 40px;
    padding: 20px 12px;
  }
  .box-contato .contato textarea {
    height: 80px !important;
  }
  .box-contato .contato .checkbox {
    font-size: 15px;
  }
  .box-contato .btn_enviar {
    background-size: 100%;
    width: 150px;
    height: 45px;
  }
  .btn-contato a {
    background-color: transparent;
    padding: 20px 19px 15px;
    font-size: 15px;
    line-height: 15px;
    width: 100%;
    text-align: center;
  }
  .btn-contato a img {
    display: none;
  }
}

/* Small */
/* Medium */
/* Large */
.politica {
  margin-top: 180px;
  padding-bottom: 50px;
}

.politica .politica-tt {
  background-color: #000000;
  padding-top: 20px;
  padding-bottom: 20px;
}

.politica .politica-tt h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 25px;
  line-height: 25px;
  margin: 0;
  padding: 0;
}

.politica .politica-info {
  margin-top: 30px;
}

.politica .politica-info p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #000;
  font-size: 15px;
  line-height: 20px;
  margin-bottom: 10px;
}

.politica .politica-info p a {
  color: #EC2c27;
  text-decoration: underline;
}

/* Extra Small */
@media (max-width: 767px) {
  .politica {
    margin-top: 68px;
    padding-bottom: 20px;
  }
  .politica .politica-tt h3 {
    font-size: 25px;
    line-height: 25px;
  }
  .politica .politica-info {
    margin-top: 20px;
  }
  .politica .politica-info p {
    font-size: 13px;
    line-height: 20px;
  }
}

/* Small */
/* Medium */
/* Large */
/*# sourceMappingURL=style.css.map */